<div class="headname">
  <div nz-row>
    <div nz-col nzSpan="6">
      <div class="welcometext">
        <span>Welcome,</span><br />
        <span style="font-size: 20px;">Admin</span>
      </div>
    </div>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6"></div>
  </div>
</div>
<br /><br />

<!-- ------------------------------content inside overview (box content No.1)--------------------------->
<div nz-row >
  <div nz-col nzSpan="12">

    <h5>ข้อมูลการลางาน</h5>
    <div class="content1">
      <div class="inside-content">
      <!------------------------------------- first line -->
      <div nz-row class="between-line">
        <div nz-col nzSpan="17"><span>ข้อมูลทั้งหมด :</span></div>
        <div nz-col nzSpan="3" class="number-result"><span>88</span></div>
        <div nz-col nzSpan="4"><span>รายการ</span></div>
      </div>

      <!------------------------------------- second line -->
      <div nz-row class="between-line">
        <div nz-col nzSpan="17"><span>ข้อมูลที่ยังไม่ได้จัดการ :</span></div>
        <div nz-col nzSpan="3" class="number-result"><span>48</span></div>
        <div nz-col nzSpan="4"><span>รายการ</span></div>
      </div>

      <!-------------------------------------- third lind -->
      <div nz-row class="between-line">
        <div nz-col nzSpan="17"><span>ข้อมูลที่จัดการเเล้ว :</span></div>
        <div nz-col nzSpan="3" class="number-result"><span>40</span></div>
        <div nz-col nzSpan="4"><span>รายการ</span></div>
        <nz-divider></nz-divider>
      </div>

    </div>
    </div>
     <!------------------------------box content No.2 ------------------------------------->
    <br>
    <h5>ข้อมูลอิอิ</h5>
    <div class="content3">
    
    </div>

  </div>

   <!------------------------------box content No.3------------------------------------->
  <div nz-col nzSpan="12">
    <h5>ข้อมูลพนักงาน</h5>
    <div class="content2">
      <div class="inside-content">
        <!------------------------------------- first line -->
        <div nz-row class="between-line">
          <div nz-col nzSpan="20"><span>จำนวนพนักงานทั้งหมด :</span></div>
          <div nz-col nzSpan="2" class="number-result"><span>12</span></div>
          <div nz-col nzSpan="2"><span>คน</span></div>
        </div>

      </div>
    </div>

  </div>
</div>
