<div nz-row>
  <div nz-col nzSpan="12" nzAlign="middle">
    <span>Firstname :</span>
  </div>
  <div nz-col nzPull="8" nzSpan="12">
    <input  class="input-box" nz-input required placeholder="First name" [(ngModel)]="edit.first_name" />
    </div>
  </div>
  <br>
  
  <div nz-row>
    <div nz-col nzSpan="12">
      <div>
      <span>Lastname :</span>
      </div>
  </div>
    <div nz-col nzPull="8" nzSpan="12">
      <input  class="input-box" nz-input placeholder="Last name" [(ngModel)]="edit.last_name" />
    </div>
  </div>
  <br>
  
  <!-- email password ------------------------------------------------------->
  <div nz-row>
    <div nz-col nzSpan="12" nzAlign="middle">
      <span>Email :</span>
    </div>
    <div nz-col nzPull="8" nzSpan="12">
      <input  class="input-box" nz-input placeholder="Email" [(ngModel)]="edit.email" />
      </div>
    </div>
    <br>
    
    <div nz-row>
      <div nz-col nzSpan="12">
        <div>
        <span>Password :</span>
        </div>
    </div>
      <div nz-col nzPull="8" nzSpan="12">
        <input  class="input-box" nz-input placeholder="Password" [(ngModel)]="edit.password" />
      </div>
    </div>
    <br>
  
   
    <br>
  
  
  
    <!-- role ---------------------- -->

<div style="margin-bottom: 15px">
  <div nz-row>
    <div nz-col nzSpan="12">
      <span>จำนวนวันที่ลาได้ :</span>
    </div>
    <div nz-col nzPull="8" nzSpan="12">
      <input  class="input-box" nz-input placeholder="1-100" [(ngModel)]="edit.max_days" />

    </div>
  </div>
</div>
<div style="margin-bottom: 15px">
  <button nz-button nzType="primary" nzBlock (click)="editfunc(edit.id,edit)">
    ยืนยัน
  </button>
</div>
