<div class="inner-content">

  <!-- calender and addleave button --------------------------------------------------- -->

  <div nz-row nzJustify="end" class="headingcontent">

    <div nz-col nzSpan="18" nzPull="270px">
       <h2>รายการลาทั้งหมดของคุณ </h2>
    </div>

    <div nz-col nzSpan="3" >
        <button class="calenbot" nz-button nzSize="large" (click)="goCalender()">
          <i nz-icon nzType="calendar" style=" position: absolute; left: 8px; bottom: 10px;" nzTheme="outline"></i>
          <span style=" position: absolute; right: 7px; bottom: 5px;">Calendar</span>
        </button>
    </div>

    
    
    <div nz-col nzSpan="3">
      <button class="btn-tmt-primary btn-tmt-primary-ed" 
      nz-button="" nztype="primary"  (click)="addLeave()"> 
      <i nz-icon  nzType="plus-circle" class="position-botton"></i>
      <span>ทำเรื่องขอลา!</span>
      </button>
    </div>

  </div>
  <!-- <h5>จำนวนวันที่คุณลาได้ทั้งหมด :<span class="numcount">  12</span></h5>
  <h5>จำนวนวันที่คุณได้ทำการลาเเล้ว :<span class="numcount">  12</span></h5> -->
<!-- --------------------------------------จำนวนวะนลา ลาไปเเเล้ว ----------------------------- -->


<div nz-row class="headcount">
  <div class="gridcount" nz-col nzSpan="6">
      <p>จำนวนวันที่คุณลาได้ทั้งหมด :<span class="numcount">   {{decode.max_days}}</span></p>
  </div>

  <div class="gridcount" nz-col nzSpan="6">
      <p>จำนวนวันที่คุณได้ทำการลาเเล้ว :<span class="numcount"> {{allcount}}</span></p>
  </div>

  <div nz-col nzSpan="14">
  </div>
</div>
<br>

  


  

<!-- filter content ------------------------------------------------------------------------------ -->
  <!-- <div nz-row class="heading">
    <div nz-col nzSpan="12">
       <h5>จำนวนวันที่คุณลาได้ทั้งหมด :<span class="numcount">  12</span></h5>
    </div>
    <div nz-col nzSpan="12">
      <h5>จำนวนวันที่คุณได้ทำการลาเเล้ว :<span class="numcount">  12</span></h5>
    </div>
  </div>
  <br> -->
  

  
<!----------------------------- table ------------------------------------------------------------ -->

  <div nz-row>
    <nz-table [nzData]="listorder" nzShowPagination="false">
      <thead>
        <tr>
          <th style="width: 50px">id</th>
          <th style="width: 80px">image</th>
          <th style="width: 220px">วันที่ยื่นคำร้อง</th>
          <th style="width: 220px">Description</th>
          <th style="width: 390px">วันและเวลา</th>
          <th style="width: 150px">จำนวนวัน</th>
          <th style="width: 180px">Type</th>
          <th style="width: 120px">Status</th>
          <th style="width: 60px;"></th>
          <th style="width: 60px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of listorder">
          <td>{{ value.id }}</td>
          <td>
            <div *ngIf="value?.file">
              <img
                nz-image
                width="25px"
                height="25px"
                nzSrc="{{ value.file }}"
                alt=""
              />
            </div>
          </td>
          <td>
            <nz-tag [nzColor]="'magenta'">{{ value.created_at| date: 'short'}}</nz-tag>
          </td>
          <td>{{ value.description }}</td>
          <td>
            <nz-tag  [nzColor]="'gold'"
              >{{ value.date_start | date: 'shortDate' }}</nz-tag
            >-
            <nz-tag [nzColor]="'gold'"
              >{{ value.date_end | date: 'shortDate' }}</nz-tag
            >
          </td>
          <td>
            <div class="row">
           <p style="margin-top: 15px;">  {{ value.allday }} วัน</p>
          </div>
          </td>

          <!-- type ------------------------------------------------------->
          <td>{{value.type}}</td>
         
          <!-- <td >
          <div *ngIf="value.type == 'ลากิจ'">
            <span class="type_business">{{value.type}}</span>
          </div>
          <div *ngIf="value.type == 'ลาป่วย'">
            <span class="type_medic">{{value.type}}</span>
          </div>
          <div *ngIf="value.type == 'ลาพักร้อน'">
            <span class="type_summer">{{value.type}}</span>
          </div>
          </td> -->

          <!-- status ---------------------------------------------------->
          <td style="text-align: center;">
              <div *ngIf="value.status_name == 'wait'" nz-tooltip nzTooltipTitle="wait" nzTooltipPlacement="top">
                <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
              </div>
              <div *ngIf="value.status_name == 'approve'" nz-tooltip nzTooltipTitle="approve" nzTooltipPlacement="top">
                <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" ></i>
              </div>
                <div *ngIf="value.status_name == 'cancel'" nz-tooltip nzTooltipTitle="cancel" nzTooltipPlacement="top">
                  <img src="../../../../assets/cancel.jpg" alt="" style="width: 15px;">
                </div>
              </td>
          <td>
            <button _ngcontent-wba-c15="" class="btn btn-tmt-act btn-tmt-act-ed2">
            <a nz-tooltip nzTooltipTitle="แก้ไข">
              <i nz-icon nzType="edit" nzTheme="outline" (click)="reData(value)"></i>
            </a>
            </button>
          </td>
          <td>
            <button  class="btn btn-tmt-act btn-tmt-act-ed"  (click)="showDeleteConfirm(value.id,value)">
              <a nz-tooltip nzTooltipTitle="ลบ">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
              </a>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>