

<nz-calendar  style="border-radius: 10px;"><div nz-row>
  <div nz-col nzSpan="12" style="margin-bottom: 10px;">
    <nz-badge nzStatus="error">
     <span> วันหยุดตามปฏิทินประเทศไทย</span>
    </nz-badge>
  </div>
  <div nz-col nzSpan="12">
    <nz-badge nzStatus="warning">
      <span> วันหยุดเพิ่มเติมของบริษัท</span>
    </nz-badge>
  </div>
</div>
  <ul *nzDateCell="let date; let month" class="events">
    <ng-container  *ngFor="let index_m of counts">
      <ng-container  *ngIf="monthint[index_m] == month.getMonth()">
        <ng-container *ngIf="dayint[index_m] == date.getDate()">
          <!-- <ng-container *ngFor="let item of holyData.data"> -->
          <li>
            <nz-badge
              [nzStatus]="holyData.data[index_m].type"
              [nzText]="holyData.data[index_m].content"
            ></nz-badge>
          </li>
          <!-- </ng-container> -->
        </ng-container>
      </ng-container></ng-container
    >
  </ul>
</nz-calendar>