.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

.headdering{
  -webkit-box-shadow: -7px 8px 46px -13px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 8px 46px -13px rgba(0,0,0,0.75);
box-shadow: -7px 8px 46px -13px rgba(0,0,0,0.75);
background-color: #214d72;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  border-radius: 5px;
  padding: 24px;
  background: #fff;
  min-height: 630px;
  margin-top: 15px;
}

nz-footer {
  text-align: center;
}

.ant-layout .ant-layout-has-sider {
  height: 100%;
}

/* --------------------------------LAY-OUT----------------------------------- */

.box-2{float:right;padding: 5px; text-align:right;}

/* sider ---------------------------------------------------------------------*/

::ng-deep .ant-layout-sider-children {
  /* #214d72 */
  background-color: #1D3752 !important;
}
/* .ng-star-inserted {
  background-color: #2c2c2c;
} */

ul.ant-menu {
  background-color: #1D3752;
}

.ant-menu-submenu {
  background-color: #1D3752;
}

/* select color */
::ng-deep .ant-menu-dark .ant-menu-item:hover {
  
  background-color: #ee6a59 !important;
}

/* selected color */
::ng-deep .ant-menu-submenu-open { 
  color: #50bfc3 !important;

}

/* inline color */
.ant-menu-item-selected {
  background-color: #ee6a59 !important;
}

/* horizon color */
::ng-deep .ant-menu-dark .ant-menu-sub {
  background-color: #1a1a1a !important;

}

.btn-tmt-primary{
  font-variant: tabular-nums;
  color: white;
  background-color: #e85440;
  border-color: #e85440;
  box-sizing: border-box;
  border-radius: 5px;
  height: 38px;
}

li:focus {
  outline: none  !important;
}

.profilebot{
  width: 150px;
  height: 50px;
  background-color: #214d72;
  border: 1px solid #214d72;
  color: white;
  margin-left: 800px;
  
}

/* avartar */
nz-avatar {
  margin-top: 0px;
  margin-left: 5px;
}