<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>Tom</li>
      <li nz-menu-item>Bill</li>
      <li nz-menu-item routerLink="calender">Calender</li>
      <li nz-menu-item>Team 1</li>
      <li nz-menu-item>Team 2</li>
      <li nz-menu-item routerLink="users-list">
        <i nz-icon nzType="database" nzTheme="outline"></i>
        <span>รายการทั้งหมด</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row>
        <div nz-col nzSpan="8">
           <!-- icon -->
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
          <!-- logout bottom -->
          <div class="box-2">
            <button nz-button nzType="primary" nzDanger (click)="logout()">
              Logout
            </button>
          </div>
          <!-- add user-->
          <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="addUser()">
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>เพิ่ม User
           </button>
        </div>
        
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>