<div nz-row>
  <div nz-col nzSpan="12" style="height: 100vh">
    <img src="../../../assets/THIS.png" />
  </div>
  <div nz-col nzSpan="12" class="login">
    <div class="center">
      <h1 style="color: white">Sign In</h1>
      <p>Email</p>
      <input
        class="input-login"
        nzSize="large"
        type="text"
        nz-input
        placeholder="example@gmail.com"
        [(ngModel)]="userLogin.email"
      />
      <p>password</p>
      <input
        class="input-login"
        nzSize="large"
        type="password"
        nz-input
        placeholder="password"
        [(ngModel)]="userLogin.password"
        (keyup.enter)="login()"
      />
      <br />
      <br />
      <button
        nz-button
        class="button"
        nzSize="large"
        nzType="primary"
        nzDanger
        (click)="login()"
      >
        Sign in
      </button>
    </div>
  </div>
</div>