<button
  class="btn-tmt-primary btn-tmt-primary-ed"
  nz-button
  nzType="primary"
  (click)="addUser()"
>
  <i nz-icon nzType="plus-circle" nzTheme="outline"></i> <span>เพิ่ม User</span>
</button>
<br /><br />
<div>
  <nz-table nzShowPagination="false" [nzData]="members">
    <thead>
      <tr>
        <th>NO.ID</th>
        <th>ชื่อนามสกุล</th>
        <th>อีเมล</th>
        <th>ตำหแหน่ง</th>
        <th>จำนวนันที่ลาได้</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of members">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.first_name }} {{ item.last_name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.position }}</td>
        <td style="text-align: center">{{ item.max_days }}</td>
        <td>
          <button class="btn btn-tmt-act btn-tmt-act-ed2" (click)="open(item)">
            <a nz-tooltip nzTooltipTitle="แก้ไข">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
          </button>
        </td>
        <td>
          <button
            class="btn btn-tmt-act btn-tmt-act-ed"
            (click)="showDeleteConfirm(item.id)"
          >
            <a nz-tooltip nzTooltipTitle="ลบ">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<br />
<nz-pagination
  [nzPageIndex]="1"
  [nzTotal]="memberCount"
  (nzPageIndexChange)="click($event)"
></nz-pagination>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="แก้ไขข้อมูลพนักงาน"
  nzWidth="35%"
>
  <div>
    <div nz-row>
      <div style="padding-top: 5px" nz-col nzSpan="7">
        <span>Firstname :</span>
      </div>
      <div nz-col nzSpan="17" style="width: 200px">
        <input nz-input required [(ngModel)]="newData.first_name" />
      </div>
    </div>
    <br />

    <div nz-row>
      <div style="padding-top: 5px" nz-col nzSpan="7">
        <span>Lastname :</span>
      </div>
      <div nz-col nzSpan="17">
        <input nz-input required [(ngModel)]="newData.last_name" />
      </div>
    </div>
    <br />

    <div nz-row>
      <div style="padding-top: 5px" nz-col nzSpan="7" nzAlign="middle">
        <span>Email :</span>
      </div>
      <div nz-col nzSpan="17">
        <input nz-input required [(ngModel)]="newData.email" />
      </div>
    </div>
    <br />
    <div nz-row>
      <div style="padding-top: 5px" nz-col nzSpan="7" nzAlign="middle">
        <span>Position :</span>
      </div>
      <div nz-col nzSpan="17">
        <input nz-input required [(ngModel)]="newData.position" />
      </div>
    </div>
    <br />
    <div  style="margin-bottom: 15px">
      <div nz-row>
        <div style="padding-top: 5px" nz-col nzSpan="7">
          <span>จำนวนวันที่ลาได้ :</span>
        </div>
        <div nz-col nzSpan="17">
          <input nz-input required [(ngModel)]="newData.max_days" />
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div style="margin-bottom: 15px">
      <button
        nz-button
        nzType="primary"
        (click)="showEditConfirm(newData.id, newData)"
        style="margin-right: 15px"
      >
        ยืนยัน
      </button>
      <button nz-button nzType="primary" nzDanger (click)="closeEdit()">
        ยกเลิก
      </button>
    </div>
  </div>
</nz-drawer>
