<div>
  <nz-tabset>
    <nz-tab nzTitle="รายการทั้งหมด" >
      <app-admin-allcheck-list></app-admin-allcheck-list>
     <!--  <div>
        <nz-table [nzData]="listAlluser.data" nzShowPagination="false">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let value of listAlluser.data">
            <tr>
              <td>{{ value.first_name }}{{ value.last_name }}</td>
              <td>{{ value.status_name }}</td>
              <td>{{ value.email }}</td>
              <td>
                <a (click)="refreshData(value)"
                  ><i nz-icon nzType="edit" nzTheme="outline"></i
                ></a>
              </td>
              <td><i nz-icon nzType="info-circle" nzTheme="outline"></i></td>
            </tr>
          </tbody>
        </nz-table>
        <nz-pagination
          [nzPageIndex]="1"
          [nzTotal]="count"
          (nzPageIndexChange)="click($event)"
        ></nz-pagination>
      </div> -->
    </nz-tab>

    <nz-tab nzTitle=" รายการที่ยังไม่ได้ตรวจสอบ">
      <app-admin-uncheck-list></app-admin-uncheck-list>
      <!-- <div>
        <nz-table [nzData]="listAlluser.data" nzShowPagination="false">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let value of listAlluser.data">
            <tr>
              <td>{{ value.first_name }}{{ value.last_name }}</td>
              <td>{{ value.status_name }}</td>
              <td>{{ value.email }}</td>
              <td>
                <a (click)="refreshData(value)"
                  ><i nz-icon nzType="edit" nzTheme="outline"></i
                ></a>
              </td>
              <td><i nz-icon nzType="info-circle" nzTheme="outline"></i></td>
            </tr>
          </tbody>
        </nz-table>
        <nz-pagination
          [nzPageIndex]="1"
          [nzTotal]="count"
          (nzPageIndexChange)="click($event)"
        ></nz-pagination>
      </div> -->
    </nz-tab>

    <nz-tab nzTitle="รายการที่ตรวจสอบแล้ว">
      <app-admin-check-list></app-admin-check-list>
    </nz-tab>   
  </nz-tabset>
</div>