<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">

      <li nz-menu-item routerLink="user-list-leave">
        <i nz-icon nzType="database" nzTheme="outline"></i>
        <span>รายการลาทั้งหมด</span>
      </li>
      <li nz-menu-item routerLink="calendar"><i nz-icon nzType="calendar" nzTheme="outline"></i>Calender</li>
       
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="headdering">
      <div nz-row  >
        <div nz-col nzSpan="12">
          <i
           style="color: white;"
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></i>
        </div>

        <div nz-col nzSpan="12" >
          <div>
            <button nz-button class="profilebot" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">  
            <nz-avatar nzText="USER" ></nz-avatar><span style="margin-left: 10px;"> Profile</span>
              <i nz-icon nzType="down"></i></button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>Information</li> 
                  <li nz-menu-item>about Us</li>
                  <li nz-menu-item (click)="logout()">Logout </li>
                </ul>
              </nz-dropdown-menu>
          </div>
        </div>
        </div>

      </nz-header>
    <nz-content class="inner-content">
      <router-outlet></router-outlet>
      
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>