<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row>
        <div nz-col nzSpan="12">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></i>
        </div>
        <div nz-col nzSpan="12">
          <div>
            <i nz-icon nzType="user" nzTheme="outline"></i>
            <button nz-button nzType="primary" nzDanger (click)="logout()">
              Logout
            </button>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <div nz-row nzJustify="end">
          <div nz-col="4">
            <div>
<!-- calender -------------------------------------------------------------------------------- -->
              <button nz-button nzSize="large" style="margin-right: 10px">
                <span>Calender</span>
                <i nz-icon nzType="calendar" nzTheme="outline"></i>
              </button>

            </div>
          </div>
          <div nz-col nzSpan="4">
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              nzShape="round"
              (click)="addLeave()"
            >
              <i nz-icon nzType="plus-circle" nzTheme="outline"></i
              >ทำเรื่องขอลา!
            </button>
          </div>
        </div>
        <div nz-row>
          <nz-table [nzData]="listorder.data" nzShowPagination="false">
            <thead>
              <tr>
                <th style="width: 50px">id_code</th>
                <th style="width: 100px">image</th>
                <th style="width: 200px">วันที่ยื่นคำร้อง</th>
                <th style="width: 200px">Description</th>
                <th style="width: 250px">วันและเวลา</th>
                <th style="width: 150px">จำนวนวัน</th>
                <th style="width: 120px">Type</th>
                <th style="width: 120px">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let value of listorder.data">
                <td>{{ value.id }}</td>
                <td>
                  <!-- <div *ngIf="value?.file">
                    <img
                      nz-image
                      width="25px"
                      height="25px"
                      value="{{ value.file }}"
                      alt=""
                    />
                  </div> -->
                </td>
                <td>
                  {{ value.created_at| date: 'short'}}
                </td>
                <td>{{ value.description }}</td>
                <td>
                  <nz-tag [nzColor]="'gold'"
                    >{{ value.date_start | date: 'shortDate' }}</nz-tag
                  >-
                  <nz-tag [nzColor]="'gold'"
                    >{{ value.date_end | date: 'shortDate' }}</nz-tag
                  >
                </td>
                <td>
                  <div class="row">
                <p>  {{ value.allday }} วัน</p>
                </div>
                </td>
                <td>{{ value.type }}</td>
                <td>{{ value.status_name }}</td>
                <td>
                  <a nz-tooltip nzTooltipTitle="แก้ไข">
                    <i
                      nz-icon
                      nzType="edit"
                      nzTheme="outline"
                      (click)="reData(value)"
                    ></i>
                  </a>
                </td>
                <td><i nz-icon nzType="delete" nzTheme="outline"></i></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <!-- <div *ngFor="let type of typeData.data">
        <p >  {{type.type_name}}</p>
        <p >  {{type.id_type}}</p>
      </div> -->
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>

