<div nz-row>
  <div nz-col nzSpan="12" nzAlign="middle">
    <span>Firstname :</span>
  </div>
  <div nz-col nzPull="8" nzSpan="12">
    <input
      class="input-box"
      nz-input
      required
      placeholder="First name"
      [(ngModel)]="addUser.first_name"
    />
  </div>
  <br /><br />
</div>
<div nz-row>
  <div nz-col nzSpan="12">
    <div>
      <span>Lastname :</span>
    </div>
  </div>
  <div nz-col nzPull="8" nzSpan="12">
    <input
      class="input-box"
      nz-input
      placeholder="Last name"
      [(ngModel)]="addUser.last_name"
    />
  </div>
</div>
<br />

<!-- email password ------------------------------------------------------->
<div nz-row>
  <div nz-col nzSpan="12" nzAlign="middle">
    <span>Email :</span>
  </div>
  <div nz-col nzPull="8" nzSpan="12">
    <input
      class="input-box"
      nz-input
      placeholder="Email"
      [(ngModel)]="addUser.email"
    />
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="12">
    <div>
      <span>Password :</span>
    </div>
  </div>
  <div nz-col nzPull="8" nzSpan="12">
    <input
      class="input-box"
      nz-input
      placeholder="Password"
      [(ngModel)]="addUser.password"
    />
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="12">
    <div>
      <span>position :</span>
    </div>
  </div>
  <div nz-col nzPull="8" nzSpan="12">
    <input
      class="input-box"
      nz-input
      placeholder="position"
      [(ngModel)]="addUser.position"
    />
  </div>
</div>
<br />

<!-- role ---------------------- -->

<div style="margin-bottom: 15px">
  <div nz-row>
    <div nz-col nzSpan="12">
      <span>จำนวนวันที่ลาได้ :</span>
    </div>
    <div nz-col nzPull="8" nzSpan="12">
      <input
        class="input-box"
        nz-input
        placeholder="1-100"
        [(ngModel)]="addUser.max_days"
      />
    </div>
  </div>
</div>

<div style="margin-bottom: 15px">
  <button
    nz-button
    nzType="primary"
    nzDanger
    nzBlock
    (click)="createUser(addUser)"
  >
    เพิ่ม
  </button>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="แจ้งเตือน"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <nz-alert
      nzType="success"
      nzMessage="Add User Success!"
      nzDescription="คุณได้ทำการเพิ่ม User เข้ามาในระบบสำเร็จ!!"
      nzShowIcon
    >
    </nz-alert>
  </nz-modal>
</div>
