<div nz-row>
  <div nz-col nzSpan="8" nzAlign="middle">
    <span>Firstname :</span>
  </div>
  <div nz-col  nzSpan="16">
    <input
      class="input-box"
      nz-input
      required
      placeholder="First name"
      [(ngModel)]="addUser.first_name"
    />
  </div>
  <br /><br />
</div>
<div nz-row>
  <div nz-col nzSpan="8">
    <div>
      <span>Lastname :</span>
    </div>
  </div>
  <div nz-col  nzSpan="16">
    <input
      class="input-box"
      nz-input
      placeholder="Last name"
      [(ngModel)]="addUser.last_name"
    />
  </div>
</div>
<br />

<!-- email password ------------------------------------------------------->
<div nz-row>
  <div nz-col nzSpan="8" nzAlign="middle">
    <span>Email :</span>
  </div>
  <div nz-col nzSpan="16">
    <input
      class="input-box"
      nz-input
      placeholder="Email"
      [(ngModel)]="addUser.email"
    />
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="8">
    <div>
      <span>Password :</span>
    </div>
  </div>
  <div nz-col nzSpan="16">
    <nz-input-group [nzSuffix]="suffixTemplate" class="input-box">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Password" [(ngModel)]="addUser.password" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="8">
    <div>
      <span>Confirm Password :</span>
    </div>
  </div>
  <div nz-col nzSpan="16">
    <nz-input-group [nzSuffix]="suffixTemplate" class="input-box">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Confirm Password" [(ngModel)]="addUser.checkpassword" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
  </div>
</div>
<br />
<!-- <div nz-row>
  <div nz-col nzSpan="8">
    <div>
      <span>Comfirm Password :</span>
    </div>
  </div>
  <div nz-col nzSpan="16">
    <input
      class="input-box"
      type="password"
      nz-input
      placeholder="Comfirm Password"
      [(ngModel)]="checkpassword"
    />
  </div>
</div>
<br /> -->

<!-- <ng-container *ngIf="addUser.password != checkpassword">
  Two passwords that you enter is inconsistent!
</ng-container> -->
<div nz-row>
  <div nz-col nzSpan="8">
    <div>
      <span>Gender :</span>
    </div>
  </div>
  <div nz-col nzSpan="16">
    <nz-radio-group [(ngModel)]="addUser.sex">
      <label nz-radio nzValue="male">male</label>
      <label nz-radio nzValue="female">female</label>
    </nz-radio-group>
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="8">
    <div>
      <span>position :</span>
    </div>
  </div>
  <div nz-col nzSpan="16">
    <input
      class="input-box"
      nz-input
      placeholder="position"
      [(ngModel)]="addUser.position"
    />
  </div>
</div>
<br />

<nz-divider></nz-divider>

<!-- --------------------------------------submit and cancel botton -->
<div style="margin-bottom: 15px">
  <button nz-button nzType="primary" nzDanger (click)="createUser(addUser)">บันทึก</button>

  <button class="cancelbot" nz-button nzType="default" (click)="cancel()">ยกเลิก</button>
</div>