<div nz-row>
  <div nz-col nzSpan="7" nzAlign="middle">
    <span>Firstname :</span>
  </div>
  <div nz-col  nzSpan="17">
    <input
      class="input-box"
      nz-input
      required
      placeholder="First name"
      [(ngModel)]="addUser.first_name"
    />
  </div>
  <br /><br />
</div>
<div nz-row>
  <div nz-col nzSpan="7">
    <div>
      <span>Lastname :</span>
    </div>
  </div>
  <div nz-col  nzSpan="17">
    <input
      class="input-box"
      nz-input
      placeholder="Last name"
      [(ngModel)]="addUser.last_name"
    />
  </div>
</div>
<br />

<!-- email password ------------------------------------------------------->
<div nz-row>
  <div nz-col nzSpan="7" nzAlign="middle">
    <span>Email :</span>
  </div>
  <div nz-col nzSpan="17">
    <input
      class="input-box"
      nz-input
      placeholder="Email"
      [(ngModel)]="addUser.email"
    />
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="7">
    <div>
      <span>Password :</span>
    </div>
  </div>
  <div nz-col nzSpan="17">
    <input
      class="input-box"
      nz-input
      placeholder="Password"
      [(ngModel)]="addUser.password"
    />
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="7">
    <div>
      <span>position :</span>
    </div>
  </div>
  <div nz-col nzSpan="17">
    <input
      class="input-box"
      nz-input
      placeholder="position"
      [(ngModel)]="addUser.position"
    />
  </div>
</div>
<br />

<!-- role ---------------------- -->

<div style="margin-bottom: 15px">
  <div nz-row>
    <div nz-col nzSpan="7">
      <span>จำนวนวันที่ลาได้ :</span>
    </div>
    <div nz-col nzSpan="17">
      <input
        class="input-box"
        nz-input
        placeholder="1-100"
        [(ngModel)]="addUser.max_days"
      />
    </div>
  </div>
</div>
<nz-divider></nz-divider>

<!-- --------------------------------------submit and cancel botton -->
<div style="margin-bottom: 15px">
  <button nz-button nzType="primary" nzDanger (click)="createUser(addUser)">Save</button>

  <button class="cancelbot" nz-button nzType="default" (click)="cancel()">Cancel</button>
</div>