<div>
  <nz-badge nzStatus="error">
    วันหยุดตามปฏิทินประเทศไทย
  </nz-badge>
</div>
<div>
  <nz-badge nzStatus="warning">
    <span> วันหยุดเพิ่มเติมของบริษัท</span>
  </nz-badge>
</div>

<div>
  <nz-calendar
    [(ngModel)]="selectedValue"
    (nzSelectChange)="selectChange($event)"
    (dblclick)="showHoliday(datetime)"
  >
    <ul *nzDateCell="let date; let month" class="events">
      <ng-container *ngFor="let index_m of counts">
        <ng-container *ngIf="monthint[index_m] == month.getMonth()">
          <ng-container *ngIf="dayint[index_m] == date.getDate()">
            <li>
              <nz-badge
                [nzStatus]="holyData.data[index_m].type"
                [nzText]="holyData.data[index_m].content"
              ></nz-badge>
            </li>
          </ng-container> </ng-container
      ></ng-container>
    </ul>
  </nz-calendar>
</div>
