/* You can add global styles to this file, and also import other style files */
 html, body {
  /* font-family: inherit; */
  font-family: "Poppins","Prompt","kanit" !important;
} 

button:focus{
  outline: none !important;
}