<button class="btn-tmt-primary" nz-button nzType="primary" (click)="addHoliday()">
  เพิ่มวันหยุด
</button>
<br><br>
<div>
  <nz-table [nzData]="dataHoliday" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>วันที่</th>
        <th>Name</th>
        <th>ประเภท</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataHoliday">
        <td>{{data.date | date: "mediumDate"}}</td>
        <td>{{data.content}}</td>
        <td>
        <div *ngIf="data.type == 'error'">
          <nz-badge nzStatus="error" nzText="วันหยุดตามปฏิทินประเทศไทย"></nz-badge>
        </div>
        <div *ngIf="data.type == 'warning'">      
          <nz-badge nzStatus="warning" nzText="วันหยุดเพิ่มเติมของบริษัท"></nz-badge>  
        </div>
        </td>

        <!-- ----------------------------------button---------------------------------- -->
        <td>
          <button class="btn btn-tmt-act btn-tmt-act-ed2" (click)="reData(data)">
            <a nz-tooltip nzTooltipTitle="แก้ไข">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
          </button>
          <button class="btn btn-tmt-act btn-tmt-act-ed" (click)="showDeleteConfirm(data.id)">
            <a nz-tooltip nzTooltipTitle="ลบ">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </button>
        </td>
        <td>
          
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
